<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NMR - Maintenance</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
<div class="homepage">
    <div id="NMRElement"><a href="/">Nordic Motorhome Rentals</a>
    </div>
    <div id="motorhomesElement"><a href="/motorhomes">Motorhomes</a>
    </div>
    <div id="maintenanceElement"><a href="/maintenance">Maintenance</a>
    </div>
    <div id="salesElement"><a href="/sales">Sales</a>
    </div>
    <div id="dropOffElement"><a href="/dropOff">Drop Off</a>
    </div>

</div>
</body>
</html>